
  <div class="container">
<!-- Jumbotron -->
    <div class="jumbotron">
      <h1 class="text-center">Login Page</h1>
    </div>
    <form class="form-group">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">User or Organization?
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li data-value="user" class="entity">I am a user.</li>
          <li data-value="org" class="entity">I am an organization.</li>
        </ul>
      </div>
    </form>

    <div class="panel-body">
      <form class="user-login">
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Enter a username">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter a password">  
        <button class="btn btn-warning" id="login" type="submit">Login</button>
      </form>
      <small id="login-success">Sorry, we could not find that username</small>
    </div>
  </div>
