<div class="container super">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Welcome to Chime</h1>
      <p class="lead">Sign in as a member to receive texts and follow   organizations.</p>
      <p class="lead">Organizations may send group texts to members.</p>
    </div>
  </div>
  <div class="my-content">
    <div class="row">
      <div class="col-3">
        <button type="button" class="btn btn-primary btn-lg btn-block entity" data-value="user">Member</button>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-secondary btn-lg btn-block entity" data-value="org">Organization</button>
      </div>
    </div>
    <form class="form-group user-login">
      <div class="row">
        <div class="col-8">
          <input type="text" id="username" class="form-control" placeholder="Enter a username">
        </div>
        <div class="col-4">
          <button class="btn btn-warning" id="login" type="submit">Login</button>
        </div>
        <div class="col-12">
          <small id="login-success" class="form-text">Sorry, we could not find that username</small> 
        </div>
      </div>
        
      </form> 
    </div>
   
  </div>

