<a href="javascript:location.replace(location.href.slice(0, -('/browse').length))">Home</a>
<h2>Follow an Organization</h2>
{{#each org}}
<div>
  <p>{{name}}</p>
  <button class="subscribe">Subscribe</button>
</div>
{{/each}}