<div class="container">
<a href="javascript:location.replace(location.href.slice(0, -('/browse').length))">Home</a>
<!--
<h2>Search for organizations to follow</h2>

<div class="search-container">
    <input type="text" placeholder="Search">
    <button type="button"><i class="fa fa-search"></i></button>
</div>
{{!-- <form id="organization-search">
    <input type="text" placeholder="Search..">
</form> --}}
=======
-->
<h2>Follow an Organization</h2>
{{#each orgs}}
<div>
  <p>{{title}}</p>
  <button class="subscribe" data-name="{{title}}" data-sub="{{subbed}}">{{text}}</button>
</div>
{{/each}}
</div>


