.subscribe[data-sub="true"] {
  background-color: blue;
  color: white;
}

.subscribe[data-sub="false"] {
  background-color: red;
  color: white;
}

#login-success {
  visibility: hidden;
  color: red;
}

.entity {
  padding: 5px;
  cursor: pointer;
}

.entity:hover {
  background-color: lightblue;
}
