@media screen and (min-width: 768px) {
    .container .jumbotron .org-subscribe {
        padding: 15px;
        display: table;
        padding-right: 75px;
        padding-left: 75px;
        width: 100%;
    }
.home {
    font-size: 30px;
}    
.subscribe {
    align-content: center;
}
}